* {
	padding:0;
	margin:0;
}
html {
    overflow-x: hidden;
}
body {
	padding-top:800px;
}
/* HEADER */
header {
	background:linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), url(../img/header.jpg) no-repeat;
	background-size:cover;
	height:100vh;
	color:white;
}
header h1, header p {
	text-align:center;
}
header h1 {
	font-family:Roboto, sans-serif;
	text-transform:uppercase;
	letter-spacing:0.05em;
	padding-top:20.5%;
	font-size:3em;
}
header p {
	font-family:sans-serif;
	font-size:1.5em;
}
.disappear {
	display:none;
}
/* NAVIGATION */
nav, #directory, footer {
	position:relative;
}
.nav_scrolled, header {
	width:100vw;
	position:fixed;
	top:0;
}
nav {
	width:100vw;
	z-index:150;
	box-shadow: 0 2px 3px rgba(255, 255, 255, 0.4);
	border-top:5px solid black;
	border-bottom:5px solid black;
	background-color:black;
}
nav ul {
	font-family:Roboto, sans-serif;
	margin:auto;
	width:75%;
	display:flex;
	flex-wrap:wrap;
	flex-position:row;
	justify-content:space-around;
}
nav li {
	position:relative;
	bottom:0.3em;
	margin-left:0.2em;
	display:inline;
	font-size:2.3em;
	text-align:center;
	list-style-type:none;
	text-transform:uppercase;
}
nav a {
	background-color:white;
	width:33%;
	border:1px solid white;
	text-decoration:none;
	color:black;
}
nav a:hover {
	background-color:grey;
}
nav a img {
	display:inline;
	margin:auto;
}
/* DIRECTORY */
#directory {
	padding:2em 1em;
	background:url(../img/pattern.png) repeat;
}
#directory h2 {
	font-family:Roboto, sans-serif;
	text-transform:uppercase;
	letter-spacing:0.05em;
	text-align:center;
	font-size:2.5em;
	color:white;
}
#directory main  {
	background:rgba(255, 255, 255, 0.3);
	width:75%;
	margin:0.75em auto 1.5em auto;
	display:flex;
	flex-wrap:wrap;
	flex-position:row;
	justify-content:space-around;
}
#directory section {
	border:5px solid white;
	margin:1em;
	height:200px;
	width:200px;
}
#directory section h3 {
	padding:1em;
	font-family:Roboto, sans-serif;
	padding-top:20.5%;
	text-align:center;
	color:white;
}
#directory main a {
	text-decoration:none;
}
#directory main a:nth-of-type(1) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/1/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(1) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/1/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(2) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/2/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(2) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/2/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(3) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/3/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(3) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/3/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(4) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/4/1.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(4) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/4/1.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(5) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/5/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(5) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/5/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(6) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/6/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(6) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/6/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(7) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/7/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(7) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/7/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(8) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/8/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(8) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/8/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(9) section {
	background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/9/2.jpg);
	background-position:center center;
	background-size:cover;
}
#directory main a:nth-of-type(9) section:hover {
	background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/9/2.jpg);
	background-position:center center;
	background-size:cover;
}
/* FOOTER */
footer {
	font-size:120%;
	font-family:sans-serif;
	background:rgba(255, 255, 255, 0.6);
	padding:0.5em;
	margin:2em 0em;
}
footer h4 {
	font-size:1.3em;
	text-transform:uppercase;
}
footer #ideas a, footer #gear a, footer #directory_footer a  {
	text-indent:1em;
	text-decoration:none;
	color:#151515;
}
footer #ideas a:hover, footer #gear a:hover, footer #directory_footer a:hover {
	color:black;
}
footer #ideas li, footer #gear li, footer #directory_footer li  {
	list-style-type:none;
}
footer #social {
	float:right;
}
footer #social img {
	opacity:0.6;
	width:25px;
	height:25px;
}
footer #social img:hover {
	opacity:1.0;
}
footer #bottom {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
}
footer #bottom li {
	margin:0em 2em;
	list-style-type:none;
}
footer #bottom a {
	text-decoration:none;
	color:#151515;
	clear:both;
}
footer #bottom a:hover {
	color:black;
}
#main_footer {
	padding:3em 0em;
	display:flex;
	flex-wrap:wrap;
	flex-position:row;
	justify-content:space-around;
}
#main_footer li {
	list-style-type:none;
}
















